#map {
  width: 100%;
  height: 90vh;
  border: 1px solid #ccc;
  border-radius: 1%;
}


.leaflet-container {
  font-family: Arial, sans-serif;
}

/* Marker singolo */
.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff2f2f; /* rosso acceso */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.marker:hover {
  transform: scale(1.3);
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Marker di gruppo / cluster */
.marker-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff2f2f; /* blu acceso */
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.35);
  transition: transform 0.2s, box-shadow 0.2s;
}

.marker-group:hover {
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.45);
}

